<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="head.html">
</head>
<body>

    <div class="container" th:insert="~{navbar.html}"></div>

    <div class="align-middle">
      <div class="text-center" style="margin-top: 90px">
          <form th:action="@{'/auth'}" method="post">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="w-25 form-floating" style="margin-left: 575px">
              <input type="email" class="form-control" name="user_email" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div><br>

            <div class="w-25 form-floating" style="margin-left: 575px">
              <input type="password" class="form-control" name="user_password" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <br>
            <button class="btn btn-lg btn-outline-dark" type="submit">Sign in</button>
          </form>
      </div>
    </div>
</body>
</html>